@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  /* background: #161a2b; */
}

.Todo__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input__field {
  width: 50vw;
  max-width: 500px;
}

.All__todos {
  width: 90vw;
  max-width: 500px;
  margin-top: 24px;
}